nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-item {
  font-size: 16px;
  text-align: right; }

.navbar-brand img {
  height: 80px; }

.header {
  height: 110px;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom-style: solid;
  z-index: 10;
  width: 100%; }

.logo img {
  width: 55%;
  margin-left: 30px;
  padding-top: 10px; }

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px; }

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-family: "Spartan", sans-serif;
  font-weight: 400; }
  .menu li {
    margin: 20px;
    word-break: keep-all; }
  .menu li a:hover {
    color: black;
    font-weight: bolder; }
  .menu .navbar-toggler {
    margin-left: 12px;
    margin-right: 12px; }

.menuBarra {
  justify-content: right; }

.footer {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 20px;
  font-family: "Spartan", sans-serif;
  width: 100%; }

.redes {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 40%; }

.instaIcon i:hover {
  color: #d100d1; }

.faceIcon i:hover {
  color: #283df5; }

.phoneIcon i:hover {
  color: white; }

.iconosRedes {
  font-size: 35px; }

.mainIndex {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "quienes family" "jardin historia" "porQue pasto3" "renova renova";
  margin-top: 110px; }

.cuadros {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 19px; }

.textoCarta {
  color: black;
  font-size: 22px;
  font-family: "Spartan", sans-serif;
  padding: 50px; }

.mainIndex img {
  width: 100%; }

.quienesSomos {
  grid-area: quienes; }

.fotoFamily {
  grid-area: family; }

.fotoJardin {
  grid-area: jardin; }

.historia {
  grid-area: historia; }

.elegir {
  grid-area: porQue; }

.pasto3 {
  grid-area: pasto3; }

.contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 110px; }

.fotosVariedades {
  width: 100%; }

.parrafoProductos, .nuestroProducto p, .textoAcordeon, .beneficios, .variedades p {
  font-size: 16px;
  font-family: "Spartan", sans-serif;
  line-height: 35px;
  text-align: justify; }

.tituloProductos, .nuestroProducto h2, .tituloVariedades, .variedades h2, .cualElegir {
  font-size: 30px;
  font-family: "Spartan", sans-serif;
  padding: 25px;
  text-align: center; }

.nuestroProducto {
  background-color: white;
  padding: 30px;
  margin: 30px;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .nuestroProducto p {
    padding-left: 30px; }
  .nuestroProducto .tituloBeneficios {
    padding: 50px;
    padding-top: 20px;
    text-align: center; }

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
  background-color: rgba(66, 124, 74, 0.352) !important;
  color: black !important;
  text-decoration: none !important;
  border: hidden !important;
  border-color: #427c4a !important; }

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important; }

.acordeon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "beneficio1 beneficio2 beneficio3" "beneficio4 beneficio5 beneficio6"; }

.beneficios .beneficio1 {
  grid-area: beneficio1; }

.beneficios .beneficio2 {
  grid-area: beneficio2; }

.beneficios .beneficio3 {
  grid-area: beneficio3; }

.beneficios .beneficio4 {
  grid-area: beneficio4; }

.beneficios .beneficio5 {
  grid-area: beneficio5; }

.beneficios .beneficio6 {
  grid-area: beneficio6; }

.tituloVariedades {
  margin-bottom: 25px; }

.variedadesCesped {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 50px; }

.variedades {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  width: 27%;
  align-items: center;
  background-color: white; }
  .variedades:hover {
    transform: scale(1.15, 1.15);
    transition: all 1s;
    z-index: 11; }

.cualElegir {
  font-size: 24px;
  margin-top: 50px; }

.renova {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: renova;
  margin-top: 20px;
  margin-bottom: 50px; }

.button {
  display: inline-block;
  border-radius: 160px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all 1s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 35px;
  margin: 50px; }
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #427c4a;
    border-radius: 10rem;
    z-index: -2; }
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #274a2c;
    transition: all 1s;
    border-radius: 10rem;
    z-index: -1; }
  .button:hover {
    color: #fff; }
    .button:hover:before {
      width: 100%; }
      .button:hover:before h2 {
        color: white;
        font-size: 30px;
        font-family: "Spartan", sans-serif;
        text-align: center;
        line-height: 2px; }

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px; }

.preguntas {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "pregunta1 respuesta1" "respuesta2 pregunta2" "pregunta3 respuesta3" "respuesta4 pregunta4";
  justify-content: center;
  justify-items: center;
  align-items: center; }

.pregunta1 {
  grid-area: pregunta1; }

.pregunta2 {
  grid-area: pregunta2; }

.pregunta3 {
  grid-area: pregunta3; }

.pregunta4 {
  grid-area: pregunta4; }

.respuesta1 {
  grid-area: respuesta1; }

.respuesta2 {
  grid-area: respuesta2; }

.respuesta3 {
  grid-area: respuesta3; }

.respuesta4 {
  grid-area: respuesta4; }

.answers {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .answers p {
    font-size: 28px;
    color: #427c4a;
    font-family: "Spartan", sans-serif;
    padding: 15px; }

.questions {
  height: 600px;
  width: 100%;
  background-image: url(../fotosuco/pastofondo.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center; }
  .questions h2 {
    font-size: 38px;
    color: white;
    font-family: "Spartan", sans-serif;
    text-align: center;
    background: rgba(50, 121, 2, 0.767); }

.galeria {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8";
  justify-content: space-around;
  row-gap: 50px;
  margin-bottom: 50px;
  margin-top: 50px; }

.tituloGaleria {
  margin-top: 150px;
  font-family: "Spartan", sans-serif;
  text-align: center;
  font-size: 30px; }

.foto1 {
  grid-area: foto1; }

.foto2 {
  grid-area: foto2; }

.foto3 {
  grid-area: foto3; }

.foto4 {
  grid-area: foto4; }

.foto5 {
  grid-area: foto5; }

.foto6 {
  grid-area: foto6; }

.foto7 {
  grid-area: foto7; }

.foto8 {
  grid-area: foto8; }

.fotosgaleria:hover {
  transform: scale(1.2, 1.2);
  transition: all 1s;
  z-index: 11; }

.contacto {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  margin-top: 150px; }
  .contacto h2 {
    font-family: "Spartan", sans-serif;
    margin-top: 15px;
    margin-bottom: 15px; }

.form-control:focus {
  border-color: #427c4a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #427c4a; }

.form-select:focus {
  border-color: #427c4a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #427c4a; }

.mapaUco img {
  width: 600px;
  margin-top: 25px; }

.formulario h2 {
  margin-bottom: 15px; }

.dondeestamos h2 {
  margin-bottom: 15px; }

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

.body p {
  text-align: justify;
  font-family: "Spartan", sans-serif; }

a {
  text-decoration: none;
  color: #427c4a;
  font-family: "Spartan", sans-serif; }

@media only screen and (max-width: 900px) {
  .galeria {
    grid-template-columns: 99%;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8"; }
  .barra {
    flex-direction: column; }
  .menu {
    font-size: 10px; }
  .redes {
    flex-direction: row;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
    justify-content: space-between;
    padding: 0; }
  .mainIndex {
    grid-template-columns: 100%;
    grid-template-areas: "quienes" "family" "historia" "jardin" "porQue" "pasto3" "renova"; }
  .nuestroProducto {
    width: auto; }
  .nuestroProducto h2 {
    font-size: 20px; }
  .variedadesCesped {
    flex-direction: column; }
  .variedades h2 {
    font-size: 20px; }
  .variedades {
    width: auto; }
  .variedades img {
    width: 100%; }
  .preguntas {
    grid-template-columns: 100%;
    grid-template-areas: "pregunta1" "respuesta1" "pregunta2" "respuesta2" "pregunta3" "respuesta3" "pregunta4" "respuesta4"; }
  .questions {
    height: 280px;
    padding: 30px; }
    .questions h2 {
      font-size: 28px; }
  .answers {
    height: 280px;
    padding: 30px; }
    .answers p {
      font-size: 20px;
      text-align: justify; }
  .contacto {
    flex-direction: column; }
  .logo img {
    width: 90%; }
  .menu {
    width: 100%; }
  .textoCarta {
    margin: 20px;
    font-size: 18px;
    padding: 0px; }
  .tituloCarta {
    font-size: 24px;
    font-family: "Spartan", sans-serif;
    margin-bottom: 20px; }
  .button h2 {
    font-size: 18px;
    text-align: center; }
  .nuestroProducto {
    background-color: rgba(252, 252, 252, 0.829);
    padding: 10px;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .nuestroProducto p {
    font-size: 16px;
    font-family: "Spartan", sans-serif;
    line-height: 35px;
    padding: 10px;
    text-align: justify; }
  .nuestroProducto h2 {
    font-size: 22px;
    font-family: "Spartan", sans-serif;
    padding: 16px;
    text-align: center; }
  .navbar-brand img {
    height: 80px; }
  .nav-item {
    font-size: 14px; }
  .nav-item li a:hover {
    color: black;
    font-weight: bolder; }
  .formulario {
    width: 100%; }
  .mapaUco img {
    width: 100%; }
  .dondeEstamos {
    margin-top: 30px;
    margin-bottom: 30px; }
  .cuadros {
    padding-top: 50px;
    padding-bottom: 50px; }
  .acordeon {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "beneficio1" "beneficio2"  "beneficio3" "beneficio4"  "beneficio5" "beneficio6"; } }
