@import "./variables";

.contacto{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    margin-top: 150px;
    & h2{
        font-family: $mainFont;
        margin-top: 15px;
        margin-bottom: 15px;

    }
}

.form-control:focus{
    border-color:$mainColor;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $mainColor;
}

.form-select:focus{
    border-color:$mainColor;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $mainColor;
}


.mapaUco img{
    width: 600px;
    margin-top: 25px;
}

.formulario h2{
    margin-bottom: 15px;
}

.dondeestamos h2{
    margin-bottom: 15px;
}