@import "./variables";

.mainIndex{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:"quienes family"
                        "jardin historia"
                        "porQue pasto3"
                        "renova renova";
    margin-top: 110px;
}

@mixin estiloCuadros($colorLetra, $tamanioLetra, $fuenteLetra){
    color: $colorLetra;
    font-size: $tamanioLetra;
    font-family: $fuenteLetra;    
}

.cuadros{
    background-color: $fondoMain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 19px;
}

.textoCarta{
    @include estiloCuadros(black, 22px, $mainFont);
    padding: 50px;
}    

.mainIndex img{
    width: 100%;
}

.quienesSomos{
    grid-area: quienes;
}

.fotoFamily{
    grid-area: family;
}

.fotoJardin{
    grid-area: jardin;
}

.historia{
    grid-area: historia;
}

.elegir{
    grid-area: porQue;
}

.pasto3{
    grid-area:pasto3;
}


