@import "./variables";

.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px;
    align-items: center;    
    justify-content: center;
    margin-top: 150px;
}

.fotosVariedades{
    width: 100%;
} 

.parrafoProductos{
    font-size: 16px;
    font-family: $mainFont;
    line-height: 35px;
    text-align: justify;  
}

.tituloProductos{
    font-size: 30px;
    font-family: $mainFont;
    padding: 25px;
}

.nuestroProducto{
    background-color: rgba(214, 214, 214, 0.5);
    padding: 30px;
    border-radius: 40px;
    margin: 30px;
    width: 84%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p{
        @extend .parrafoProductos;
        padding-left: 30px
    }

    & h2{
        @extend .tituloProductos;
        font-weight: bolder;
    }
}

.beneficios{
    @extend .parrafoProductos;
}

.tituloVariedades{
    @extend .tituloProductos;
    margin-bottom: 25px;
    font-weight: bolder;
}

.variedadesCesped{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 50px;
}
.variedades{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 27%;
    align-items: center;
    background-color: $fondoMain;
    & p{
        @extend .parrafoProductos;
    }
    & h2{
        @extend .tituloProductos;
    }
    &:hover{
        transform: scale(1.15,1.15);
        transition: all 1s;
        z-index: 11;
    }
}






