@import "./variables";

.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px;
    align-items: center;    
    justify-content: center;
    margin-top: 110px;
}

.fotosVariedades{
    width: 100%;
} 

.parrafoProductos{
    font-size: 16px;
    font-family: $mainFont;
    line-height: 35px;
    text-align: justify;  
}

.tituloProductos{
    font-size: 30px;
    font-family: $mainFont;
    padding: 25px;
    text-align: center;
}

.nuestroProducto{
    background-color: $fondoMain;
    padding: 30px;
    margin: 30px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p{
        @extend .parrafoProductos;
        padding-left: 30px
    }

    & h2{
        @extend .tituloProductos;
        font-weight: bolder;
        
    }

    & .tituloBeneficios{
        padding: 50px;
        text-align: center;
    }
}


.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
    background-color: rgba(66, 124, 74, 0.352) !important;
    color:black!important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: $mainColor !important;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.acordeon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "beneficio1 beneficio2 beneficio3"
                        "beneficio4 beneficio5 beneficio6";
}



.beneficios{
    @extend .parrafoProductos;
    & .beneficio1{
        grid-area: beneficio1;
    }
    & .beneficio2{
        grid-area: beneficio2;
    }
    & .beneficio3{
        grid-area: beneficio3;
    }
    & .beneficio4{
        grid-area: beneficio4;
    }
    & .beneficio5{
        grid-area: beneficio5;
    }
    & .beneficio6{
        grid-area: beneficio6;
    }
}

.tituloVariedades{
    @extend .tituloProductos;
    margin-bottom: 25px;
    font-weight: bolder;
}

.variedadesCesped{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 50px;
}
.variedades{
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    width: 27%;
    align-items: center;
    background-color: $fondoMain;
    & p{
        @extend .parrafoProductos;
    }
    & h2{
        @extend .tituloProductos;
    }
    &:hover{
        transform: scale(1.15,1.15);
        transition: all 1s;
        z-index: 11;
    }
}

// botón

.renova{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: renova;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button {
    display: inline-block;
    border-radius: 160px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 35px;
    margin: 70px;
    
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($mainColor, 15%);
        transition: all 1s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
        width: 100%;
    & h2{
        @include estiloCuadros(white, 30px, $mainFont);
        text-align: center;
        line-height: 2px;
    }
        
    }
    }
}






