@import "./header";
@import "./footer";
@import "./indexMain";
@import "./nuestroProducto";
@import "./preguntas";
@import "./galeria";
@import "./contacto";
@import "./variables";


*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.body p{
    text-align: justify;
    font-family: $mainFont; 
}

a{
    text-decoration: none;
    color: $mainColor;
    font-family: $mainFont;    
}

// MEDIA QUERIES 

@media only screen and (max-width: 900px){
    .galeria{
        grid-template-columns: 99%;
        grid-template-areas: "foto1"
                            "foto2"
                            "foto3"
                            "foto4"
                            "foto5"
                            "foto6"
                            "foto7"
                            "foto8"        
    }
    .barra{
        flex-direction: column;
    }
    .menu{
        font-size: 10px;
    }
    .redes{
        flex-direction: row;
        width: 80%;
        margin-bottom: 10px;
        margin-top: 5px;
        justify-content: space-between;
        padding: 0;
    }
    .mainIndex{
        grid-template-columns: 100%;
        grid-template-areas: "quienes"
                            "family"
                            "historia"
                            "jardin"
                            "porQue"
                            "pasto3"
                            "renova"
    }
    
    .nuestroProducto{
        width: auto;        
    }
    .nuestroProducto h2{
        font-size: 20px;
    }
    .variedadesCesped{
        flex-direction: column;
    }

    .variedades h2{
        font-size: 20px;
    }
    .variedades{
        width: auto;
    }
    .variedades img{
        width: 100%;
    }
    .preguntas{
        grid-template-columns: 100%;
        grid-template-areas: "pregunta1"
                        "respuesta1"
                        "pregunta2"
                        "respuesta2"
                        "pregunta3"
                        "respuesta3"
                        "pregunta4"
                        "respuesta4"
    }
    
    .questions {
        height: 280px;
        padding: 30px;
        & h2{
            font-size: 28px;
        }
    }

    .answers{
        height: 280px;
        padding: 30px;
        & p{
            font-size: 20px;
            text-align: justify;
        }
    }

    .contacto{
        flex-direction: column;
    }
    .logo img{
        width: 90%;
    }
    .menu{
        width: 100%;
    }
    .textoCarta{
        margin: 20px;
        font-size: 18px;
        padding: 0px;
    }
    .tituloCarta{
    font-size: 24px;
    font-family: $mainFont;
    margin-bottom: 20px;
    }
    .button h2{
        font-size: 18px;
        text-align: center;
        
    }

    .nuestroProducto{
        background-color: rgba(252, 252, 252, 0.829);
        padding: 10px;
        border-radius:0px;
        margin: 0px;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }   


    .nuestroProducto p{
        font-size: 16px;
        font-family: $mainFont;
        line-height: 35px;
        padding: 10px;
        text-align: justify;        
        }

    .nuestroProducto h2{
        font-size: 22px;
        font-family: $mainFont;
        padding: 16px;
        text-align: center;    
        }

    .navbar-brand img{
            height: 80px;
    }
    .nav-item{
        font-size: 14px;
    }

    .nav-item li a:hover{
        color: black;
        font-weight: bolder;
    }

    .formulario{
        width: 100%;
    }
    .mapaUco img{
        width: 100%;
    }
    .dondeEstamos{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .cuadros{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .acordeon{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "beneficio1"
                                "beneficio2" 
                                "beneficio3"
                                "beneficio4" 
                                "beneficio5"
                                "beneficio6";
    }   
}